footer {
  padding: 1em 1vw 2em 1vw;
  text-align: center;
  background-color: #0f487f;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  color: white;
}

h1,
p,
text {
  font-family: BlinkMacSystemFont, sans-serif;
}

h1 {
  margin: 1em 0 0 1em;
  color: #1873cc;
}

p {
  margin: 1em 0 0 2em;
}

p:nth-child(3) {
  margin-top: 0.5em;
  color: grey;
}

g text.axis-label {
  font-size: 1.5em;
  fill: grey;
}

.tick text {
  font-size: 1.3em;
  color: #0f487f;
}

.pie text {
  fill: white;
}

path.domain {
  stroke: #a5d2ff;
}

.tick line {
  stroke: #a5d2ff;
}
